*{
  padding:0;
  margin:0;
}
body{
  background-color: #f1faee;
}
header {
  background-color:#1d3557;
  padding: 10px;
}
.main-links ul{
  list-style-type: none;
  text-align: right;
  font-size: 16px;
}
.main-links li{
  display: inline-block;
  padding: 5px;
}
.main-links li a{
  text-decoration: none;
  color:#f1faee;
  border: 1px solid white;
  padding:5px 10px;
  border-radius:20px;
}
